/** @format */
#home {
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 98.5vw;
	height: 100vh;
}
.title-group {
	text-align: center;

	margin-top: 10rem;
	h1 {
		font-family: Caveat, sans-serif;
		font-size: 90px;
		margin-bottom: 0;
		text-decoration: underline;
		margin-bottom: 10rem;
	}
	.all {
		color: var(--primary-color);
		font-size: 3rem;
		font-weight: normal;
		margin-bottom: 10rem;
	}
}

#tit {
	text-decoration: none;
}

img {
	height: 100px;
	width: 200px;
}
@media screen and (max-width: 812px) {
	#h {
		font-size: 3rem;
	}
}
