/** @format */

#skills {
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	min-width: 98.5vw;
	height: 110vh;
	h1 {
		font-family: Caveat, sans-serif;
		font-size: 90px;
		margin-bottom: 0;
		text-decoration: underline;
	}
	.sk-h {
		font-size: 10rem;
	}
}

.sk-container {
	display: flex;
	img {
		margin-top: 5rem;
		height: 8rem;
		width: 20rem;
		margin-bottom: 5rem;
	}
}

.text-box {
	width: 40%;
	font-size: 1rem;
	text-align: justify;
	opacity: 0.8;
	background: rgb(67, 68, 67);
	/* background: rgb(0 0 0 / 50%); */
	color: var(--on-primary);
	border-radius: 1rem;
	padding: 3rem;
}
.lan {
	display: flex;

	width: 100%;

	.lan-section-first {
		display: inline-block;
		width: 20rem;
		font-weight: bolder;

		color: var(--primary-color);
	}
}
.dark-text-box {
	background-color: rgb(255 255 255/50%);
}

@media screen and (max-width: 81.2rem) {
	body {
		padding-left: 2rem;
	}
	.lan {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	#la {
		width: 80vw;
	}
}
