/** @format */

.nav-container {
	padding: 0px 10px;
	font-size: large;
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: space-around;
}
.nav-container a {
	color: black;
	text-decoration: none;
}
.nav-container a:hover {
	color: black;
	text-decoration: underline;
}
