/** @format */

.nav-container {
	padding: 0px 10px;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
}
.image-container:hover {
	box-shadow: 2px 2px 2px whitesmoke;
}
.back {
	padding-top: 10px;
	text-align-last: right;
}
#back {
	text-decoration: none;
	border: none;
}
.j-projects {
	height: 95vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 770px) {
	.nav-container {
		margin-left: 25px;
	}
	#image-container {
		margin-bottom: 10px;
	}
}
