/** @format */

#projects {
	box-sizing: border-box;
	flex-direction: column;
	display: flex;

	align-items: center;
	padding-top: 10rem;
	min-width: 98.5vw;
	height: 170vh;
	h1 {
		font-family: Caveat, sans-serif;
		font-size: 90px;
		margin-bottom: 0;
		text-decoration: underline;
	}
}

.image-container-project {
	margin-top: 5rem;
	margin-right: 1rem;
	width: auto;
}

.project-container {
	padding-top: 1rem;

	box-sizing: border-box;

	.project-section {
		flex-wrap: wrap;
		margin-bottom: 10rem;
	}
}

.project-row {
	width: 90vw;
	display: flex;
	height: 25rem;
	padding-left: 5rem;
	padding-right: 4rem;
	justify-content: center;

	.description {
		width: 70vw;
		display: flex;
	}
}
.image-container-1 {
	border: 1px solid var(--secondary-color);
	border-radius: 1rem;
	padding: 1rem 2rem;
	margin-right: 5rem;
	width: 100%;
	height: 100%;
	background: var(--background);
	box-shadow: var(--box-shadow);

	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin-top: 1rem;
		font-size: 1.1rem;
		margin-bottom: 2rem;
	}
	img {
		margin-bottom: 2rem;
	}
}
.text-box-row {
	text-align: justify;
	opacity: 0.8;
	background: rgb(67, 68, 67);
	/* background: rgb(0 0 0 / 50%); */
	color: var(--on-primary);
	border-radius: 1rem;
	padding: 3rem;
}
.text-box-len {
	line-height: 2rem;
}

.primary {
	font-size: large;
	border-radius: 1rem;
	width: 10rem;
	height: 4rem;
	background: var(--primary-color);
	color: var(--on-primary);
}

#text-box-len-project {
	width: 120rem;
}

.dark-text-box {
	background-color: rgb(255 255 255/50%);
}
