/** @format */
#about {
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	min-width: 98.5vw;
	height: 80vh;
}
.about-container {
	display: flex;
}

.skills-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-family: Caveat, sans-serif;
	font-size: 90px;
	margin-bottom: 0;
	text-decoration: underline;
}
img {
	height: 100px;
	width: 200px;
}
#text-box {
	width: 50%;
	line-height: 25px;
}
.text-box {
	width: 40%;
	text-align: justify;
	opacity: 0.8;
	background: rgb(67, 68, 67);
	/* background: rgb(0 0 0 / 50%); */
	color: var(--on-primary);
	border-radius: 10px;
	padding: 30px;
}
.dark-text-box {
	background-color: rgb(255 255 255/50%);
}

@media screen and (max-width: 770px) {
	#about {
		height: 110vh;
	}
}
